coverage==7.14.0
black==26.5.0
python-semantic-release==10.5.3
mypy==1.20.2
icp10125==1.0.0
pimoroni-sgp30==0.0.2
pimoroni-bme280==1.0.0
smbus2==0.6.1
wheel==0.47.0
twine==6.2.0
adafruit-circuitpython-pm25==2.1.24
scd4x==0.0.2
